//imports
@use "../../../styles/global/breakpoints" as b;
@import "../../../styles/global/variables";

.after-hero {
  margin-top: 1rem;
  position: relative;
  z-index: 2;

  @include b.breakpoint("768") {
    margin-top: 2rem;
  }

  .why {
    margin-top: 7rem;
    margin-bottom: 3rem;

    font-size: 23px;
    line-height: 1.1;
    font-weight: 600;
    text-align: center;

    @include b.breakpoint("768") {
      font-size: 2rem;
    }

    span {
      color: $accent;
      font-weight: 700;
    }
  }

  .tag-lines {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include b.breakpoint("768") {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      padding-bottom: 23rem;
    }
    @include b.breakpoint("1000") {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.5rem;
      padding-bottom: 0;
    }

    .tag-item {
      background-color: $white;
      padding: 2rem 1.5rem;
      border-radius: 15px;
      box-shadow: 0px 80px 120px rgba(0, 0, 0, 0.094);

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;

      @include b.breakpoint("768") {
        padding: 2.5rem 2rem;
      }

      .svg-item {
        font-size: 20px;
        width: 50px;
        height: 50px;
        color: $white;
        background-color: #ffb400;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;

        margin-bottom: 0.7rem;

        @include b.breakpoint("768") {
          font-size: 24px;
          width: 60px;
          height: 60px;
        }
      }
      .svg-2 {
        background-color: #385dff;
      }
      .svg-3 {
        background-color: #0fbf95;
      }

      img {
        width: 100px;
        height: auto;
      }

      h2 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;

        @include b.breakpoint("768") {
          font-size: 20px;
          font-weight: 600;
        }
      }

      p {
        font-weight: 400;
        line-height: 1.8;
        font-size: 14px;

        span {
          color: $accent;
        }

        @include b.breakpoint("768") {
          font-size: 15px;
        }
      }
    }
  }

  button {
    margin-top: 2.5rem;
  }
}

.logos-items {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;

  h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;

    @include b.breakpoint("768") {
      font-size: 20px;
    }
  }

  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    justify-content: center;

    @include b.breakpoint("768") {
      grid-template-columns: 1fr 1fr 1fr;

      img {
        &:last-child {
          display: none;
        }
      }
    }
    @include b.breakpoint("1000") {
      grid-template-columns: repeat(7, 1fr);

      img {
        &:last-child {
          display: block;
        }
      }
    }

    img {
      width: 110px;
    }
  }
}
